
.card {
  width: 18rem;
  height: 500px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.nutriscore li {
  display:inline-block;
  padding:.6em .4em;
  margin:0;
  color:rgba(255,255,255,.5);
  font-weight:bold;
 }

/*A*/
.nutriscore li:nth-child(1) {
  background:#387F46;
  border-radius:.6em 0 0 .6em;
}
/*B*/
.nutriscore li:nth-child(2) {background:#92BA47}
/*C*/
.nutriscore li:nth-child(3) {background:#F6CD46}
/*D*/
.nutriscore li:nth-child(4) {background:#E08731}
/*E*/
.nutriscore li:nth-child(5) {
  background:#D54A26;
  border-radius:0 .6em .6em 0;
}

ul.nutriscore li.currentScore {
  color:white;
  border:.1em solid white;
  border-radius:.8em;
  padding:1em .5em;
  margin:0 -.4em;
  position:relative;
}

/*impression*/
@media print {

/*imprimable avec chrome*/
body {
  -webkit-print-color-adjust: exact !important;
}

}