.card {
  width: 20rem;
  height: 100%;
}

.card-img-top {
  height: 300px;
  object-fit: contain;
}

.nutriscore li {
  display:inline-block;
  padding:.6em .4em;
  margin:0;
  color:rgba(255,255,255,.5);
  font-weight:bold;
 }

.nutriscore li:nth-child(1) {
  background:#387F46;
  border-radius:.6em 0 0 .6em;
}
.nutriscore li:nth-child(2) {background:#92BA47}
.nutriscore li:nth-child(3) {background:#F6CD46}
.nutriscore li:nth-child(4) {background:#E08731}
.nutriscore li:nth-child(5) {
  background:#D54A26;
  border-radius:0 .6em .6em 0;
}

ul.nutriscore li.currentScore {
  color:white;
  border:.1em solid white;
  border-radius:.8em;
  padding:1em .5em;
  margin:0 -.4em;
  position:relative;
}
